body{
   background-image: url("myBackground.jpg");
}

.body{
   margin: auto;
   width: 90%;
}

.Text{
   color: white;
   width: 90%;
   font-size:large;
}

h1{
   color: white;
   font-weight: bold; 
}
h2{
   text-align: center;
}

.img{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width:90%;
}

#img1{
   margin:10px;
   float:left;
   width:30%;
   height:30%;
}
#img2{
   margin:10px;
   clear:both;
   float:right;
   width: 20%;
   height:20%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#img3{
   margin:10px;
   clear:both;
   float:left;
   width:30%;
   height:30%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#img4{
   margin:10px;
   clear:both;
   display: block;
   margin-left: 25%;
   margin-right: 25%;
   width: 40%;
   height:40%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.table{
   margin: auto;
   width: 100%;
}
  
